/*Grid*/
body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-template-areas: "logo header header header header header""picture picture picture picture picture picture""footer footer footer footer footer footer";
}

iframe {
  width: 99.7%;
  height: 700px;
  border: 0;
}

header {
  grid-area: header;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
  padding-bottom: 20px;
}

main {
  grid-area: logo;
}

#picture1 {
  grid-area: picture;
}

/*Pictures*/
#pictureLogo {
  display: block;
  margin: auto;
  width: 80%;
}

/* NAVIGATION */
.topnav {
  color: transparent;
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 63px 35px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightgrey;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: darkgrey;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* JAVA NAV */
/*media*/
@media only screen and (max-width: 850px) {
  body {
    grid-template-areas:
      "logo logo logo logo logo logo"
      "header header header header header header"
      "picture picture picture picture picture picture"
      "footer footer footer footer footer footer";
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-gap: 0.1em;
  }

  #pictureLogo {
    width: 40%;
    max-width: 250px;
  }

  main {
    margin-right: 0em;
  }
}

/*NAVIGATION*/
@media screen and (max-width: 850px) {
  .topnav a {
    display: none;
    padding: 40px 40px;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 850px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Booking */
/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  padding: 50px 20px 100px 20px;
}

/* Floating column for labels: 25% width */
.label {
  float: left;
  width: 20%;
  margin-top: 6px;
  margin-left: 10px;
}

/* Floating column for inputs: 75% width */
.entry {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container, .row, .label, .entry {
  background-color: #f2f2f2
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .label, .entry, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.labels {}

/* link */
a.link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a.link:hover {
  color: black;
  text-decoration: underline;
}
