html, body {
  color: transparent;
  background-color: #B7B7B7;
  background-size: auto;
  font-family: "Times New Roman", Times, serif;
}

div#header {
  text-align: center;
}

div nav ul {
  list-style-type: none;
}

div nav ul li {
  background-color: #4AC01E;
  color: white;
  display: inline-block;
  width: 125px;
  height: 25px;
  box-shadow: 0 9px #999;
}

div nav ul li a {
  display:inline-block;
  width:125px;
  height: 40px;
  text-align:center;
  text-decoration: none;
  color: white;
  background-color: transparent;
}

div nav ul li.current {
  background-color: #339A0D;
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div nav ul li:hover {
  color: white;
  background-color: #399A0D;
}

div nav ul li:active {
  background-color: #339A0D;
  color: inherit;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

li {
  padding: 5px 0 5px 0;
}
